@each $name, $value in $colors{
	.list-b-hamburger-#{$name}{
		li{
			@extend .b--#{$name};
		}
		li:last-child{
			@extend .bb;
			@extend .bw2;
		}
		li:first-child{
			@extend .bt;
			border-top-width: $border-width-2;
		}
		li:not(:last-child){
			@extend .bb;
			@extend .bw1;
		}

	}
}
